# Ignore node_modules folder in backend
backend/node_modules/

# Ignore node_modules folder in frontend
frontend/node_modules/
# Ignore environment files
.env

# Ignore log files
*.log

# Ignore compiled files
dist/
build/

# Ignore Mac system files
.DS_Store