* {
  box-sizing: border-box;
}
@import "tailwindcss";
@plugin "daisyui";

.boundary{
  width: 100%;
  height: 100vh; /* Adjust as needed */
  background: url("./assets/F6B7B614-9AEC-4BB8-8E4B-E36A3173DEEA.jpeg"), url("./assets/9A138532-CA3B-48BD-8856-F6D798C9C368.jpeg"), url("./assets/E2DB8F5B-92B1-4A40-9D3E-9E384CAF5E83.jpeg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top, center, bottom;
  background-size: contain, contain, contain;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%
}
 

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10px;
}
.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 50px;
}
.logo {
  font-size: 30px;
}
.logo-name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.name {
  font-family: Paytone One;
  font-size: 30px;
}
.slogan {
  font-family: Lexend;
  font-style: italic;
  font-size: 10px;
}
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  color: white;
  gap: 40px;
  font-family: Lexend;
}
.nav2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 40px;
  font-family: "Lexend";
  list-style-type: none;
}
.nav-items {
  color: #ffffff;
  text-decoration: none;
}

.access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
}
#login {
  color: white;
  background-color: #3e3956;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
#login:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
#signup {
  background-color: #d68d05;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
#signup:hover {
  background-color: #ffa703;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-content {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro-content div {
  width: 50%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.intro-content img {
  width: 30%;
 
}
.intro-content p {
  font-family: Commissioner;
  font-weight: 200;
  font-size: 25px;
  color: white;
  margin-top: 25px;
}
.intro-content h1 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 50px;
  color: #928dab;
}
.todo-info{
 color: black;
 font-family: Outfit;
}


.response-box {
    color: red;
    margin: 15px;
}
.division-line {
    width: 90%;
    margin: auto;
    border: 1px solid white;
  }

.socials{
    font-size: 40px;
    display: flex;
    gap:10px;
    color: white;
}

.footer-logo{
    display: flex;
    color: white;
}

.newsletter{
    display: flex;
    gap: 10px;
}
.email-newsletter{
    height: 40px;
    max-width:220px;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}
.footer-subscribe{
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(216, 8, 8);
    color: #ffffff;

}

.footer-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 100px auto;
    margin-bottom: 50px;
}

.contactus{
    display: flex;
    color: #ccc;
    justify-content: space-around;
    border: 1px solid rgb(156, 156, 156);
    height: 100px;
    width: 90%;
    margin: 70px auto;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    font-family: Lexend;
    font-weight: 200;
    
}
.footer{
    
}
/* Modal Overlay (background) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal-content {
  background-color: rgba(6, 14, 28, 0.3);
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 70px rgba(111, 109, 109, 0.5);
  width: 500px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Open Modal Button */
.open-modal-btn {
  background: black;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Input Fields */
.input-todo {
  display: block;
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
  padding: 7px;
  background-color: #2a2a37;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Buttons */
.save-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(227, 219, 219);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 10px 70px rgba(233, 231, 231, 0.5);

  margin-top: 10px;
  border-radius: 4px;
}

.close-btn {
  background-color: rgb(126, 126, 126);
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}