@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 250, 251);
  font-family: 'Outfit', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.transition-width {
    transition: width 0.5s ease-in-out;
}


.hover-lift:hover {
    transform: translateY(-5px);
}